# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


build/cmake_install.cmake
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-1ebe5ff629038fa39230.json
build/.cmake/api/v1/reply/codemodel-v2-045a4d3bbd8f667a8e26.json
build/.cmake/api/v1/reply/index-2021-07-16T13-22-51-0555.json
build/.cmake/api/v1/reply/target-demo-Debug-e256cbb4f59fab5a936c.json
build/.cmake/api/v1/reply/toolchains-v1-d55160a0b1acf849128a.json
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.2/CMakeCCompiler.cmake
build/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.2/CMakeSystem.cmake
build/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/demo.dir/build.make
build/CMakeFiles/demo.dir/cmake_clean.cmake
build/CMakeFiles/demo.dir/compiler_depend.make
build/CMakeFiles/demo.dir/compiler_depend.ts
build/CMakeFiles/demo.dir/depend.make
build/CMakeFiles/demo.dir/DependInfo.cmake
build/CMakeFiles/demo.dir/flags.make
build/CMakeFiles/demo.dir/link.txt
build/CMakeFiles/demo.dir/progress.make
bin/demo
bin/log/daily_log_2021-07-08.txt
bin/log/daily_log2_2021-07-08.txt
bin/log/log/daily_log_2021-07-08.txt
